.content{
    margin-top: 20vh;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    margin-bottom: 1vh;
    
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}
.card{
    text-align: center;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
   
}
.text{
   color: black;
   text-decoration:underline ;
}
.card:hover{
    font-size: larger;
   
}
.card img{
    height: 20vw;
    width: 30vw;
}